*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid red; */
}



   /* Header section start */




header{
    height: 669px;
    width: 100%;
    background-image: url(./380030057_616281154038391_5269123045135369475_n.png);
    /* background-image: 
    
    linear-gradient(
      rgba(1, 1, 1, 0.45), 
      rgba(106, 102, 102, 0.95)
    ),
    
    url(./380030057_616281154038391_5269123045135369475_n.png); */

    /* background: url(./380030057_616281154038391_5269123045135369475_n.png), linear-gradient(to bottom , rgb(37, 29, 29) , blue); */

    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display:flex;     

    align-items: center; 
    justify-content: center;     
    background-color: rgb(7, 7, 7, .3);
    /* background-blend-mode:  linear-gradient(0deg, #ff0000 0%, rgba(44, 0, 0, 0) 100%); */
    background-blend-mode: multiply;
}
.content>h1{
    font-size: 4rem;
    color: #FFFFFF;
    margin-bottom: 1.25rem;
    font-weight: 700;  
}
.content>p{
    font-size: 1.25rem;
    color: white;
    margin-bottom: 2.88rem;
}

.btn-primary{
    background-color: #ff5959;
    border: 0;
    font-size: 20;
    color: white;
    height: 3.25rem;
    width: 10rem;
    border-radius: 5px;
}


/* header section ends */


/* main  section style start */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.donate-today-section-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* donate today section start */
.donate-today{
    text-align: center;
    margin-top: 7.12rem;
}
.donate-today>h1{
    font-size: 2.88rem;
    font-weight: 700;
    color: #121212;
    margin-bottom: 1.25rem;
}
.donate-today>p{
    font-size: 1rem;
    font-weight: 400;
    color: #707070;
    margin-bottom: 3.25rem;
}

.donate-amount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.8rem;
}

.amount-box{
    width: 8.4375rem;
    height: 7.6875rem;
    background-color: #Fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #707070;
    border-radius: .3125rem;
    margin-bottom: 3.25rem;

    
}
.second-amount-box{
    border: 2px solid #ff5959;
    color: #ff5959;
    background-color: #ffeeee;
}




.other-amount-container{
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid #dadada;
    padding-bottom: .59rem;
    margin-bottom: 2.88rem;
}
.other-amount{
    color: #B3B3B3;
font-size: 1.125rem;
font-weight: 400;
}


/* donate today styles ends */



/* Our donate plan style start */

.donate-plan-section-container{
    text-align: center;
    margin-top: 8.12rem;
    margin-bottom: 6.9rem;
  
}

.donate-plan>h1{
    font-size: 2.88rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    color: #121212;
}

.donate-plan>p{
    color: #707070;
    font-size: 1rem;
    margin-bottom: 3.25rem;
}


.donate-plan-card{
    display: flex;
    margin: 0 9rem;
    gap:1.5rem;
    /* justify-content: space-around; */
}

.plan-card{
    padding: 3.8rem 1.44rem;
    width: 22.5rem;
    height: 22rem;
    background-color: pink;
    text-align: start;
}

.plan-card>img{
    width: 3.6rem;
    height: 3.11rem;
    margin-top: 3.7rem;
    margin-bottom: 1.98rem;
}
.plan-card>h6{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #121212;

}
.plan-card>p{
    color: #707070;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
}

.plan-card1{
    background: rgba(79, 157, 166, 0.10);

}
.plan-card2{
    background: rgba(255, 89, 89, 0.10);

}
.plan-card3{
    background: #fff4d6;
}


/* Our donate plan style ends */



/* Donate-content section style start */

.donate-section-container{
 margin: 0 14.4rem 0 10rem;
 /* width: 100%; */
 /* display: flex; */
 /* justify-content: space-between; */
 /* flex-direction: column; */
}



.donate-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    margin: 8rem;
}
.donate-content img{
    width: 25rem;
    height: 25rem;
}

.donate-content h2{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.donate-content p{
    color: #707070;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1.25rem;
}

.donate-content div{
    height: 450px;
    width: 560px;
    position: relative;
    top: 4.5rem;
}

/* Donate-content section style ends */


/* Get My update section container styles */ 

.update-section-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.update-section-container>h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #121212;
    margin-bottom: 1.25rem;
}

.update-section-container>p{
    color: #707070;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 3.25rem;
}


.update-section-container div{
    height: 9rem;
    width: 50rem;
    background-color: #fff4d6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.update-box input{
    border: none ;
    width: 17rem;
    height: 2rem;
    border-radius: .312rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #d9d9d9;
}

.update-box button{
    width: 9rem;
    height: 2rem;
    background-color :#ff5959;
    border: none;
    border-radius: .312rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}